*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 400px;
    height: 150px;
    background-color: rgb(168,177,168);
    margin: 0 auto;
}
.title{
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
}
.inc, .dec{
    border: none;
    width: 100px;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
}
.inc:hover, .dec:hover{
    background-color: black;
    color: white;
}
.counter_src{
    text-align: center;
    height: 40px;
}
.counter{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
